.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.MuiPaper-root.header {
  height: 5vh;
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
}

div.MuiMobileStepper-root {
  background-color: transparent;
  color: white;
}

.stepper {
  height: 5vh;
  background-color: transparent;
}

.s-image {
  max-width: 100%;
  max-height: 85vh;
  object-fit: contain;
}

.canvas {
  position: absolute !important;
}